.env
.env.backup
.env.production
.php-cs-fixer.cache
.phpunit.result.cache
.scribe
/.fleet
/.idea
/.phpunit.cache
/.vscode
/dist
/node_modules
/public/build
/public/hot
/public/images/managers
/public/index.html
/public/storage
/storage/*.key
/vendor
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
