version: "3.7"
services:
  php:
    build:
      context: ./docker/app
      dockerfile: Dockerfile
    user: "${UID}:${GID}"
    volumes:
      - ".:/var/www/html"
      - "./docker/app/php.ini-${PHP_CONFIG}:/usr/local/etc/php/php.ini"
      - "./storage/docker/composer/.composer:/.composer/"
      - "./storage/docker/npm/.npm:/.npm/"
      - "./storage/docker/npm/.config:/.config/"
    restart: "${RESTART_POLICY:-always}"
    networks:
      - app
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  nginx:
    image: nginx:1.23
    ports:
      - '${APP_PORT:-80}:80'
    volumes:
      - "./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf"
      - ".:/var/www/html"
    restart: "${RESTART_POLICY:-always}"
    networks:
      - app
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  webpack:
    build:
      context: ./docker/app
      dockerfile: Dockerfile
    ports:
      - '${WEBPACK_DEV_SERVER_PORT:-9000}:9000'
    user: "${UID}:${GID}"
    entrypoint: [ "npm", "run", "serve" ]
    volumes:
      - ".:/var/www/html"
      - "./storage/docker/npm/.npm:/.npm/"
      - "./storage/docker/npm/.config:/.config/"
    restart: "${RESTART_POLICY:-always}"
    networks:
      - app
    stop_signal: SIGTERM
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  mariadb:
    image: 'mariadb:${MARIADB_VERSION:-10.3.35}'
    ports:
      - '${MARIADB_FORWARD_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    volumes:
      - 'mariadb:/var/lib/mysql'
    restart: "${RESTART_POLICY:-always}"
    networks:
      - app
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}" ]
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 3
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

networks:
  app:
    driver: bridge

volumes:
  mariadb:
    driver: local
